body {
    background-color: #f1f1f1;
    color: #333;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

.available {
    color: green;
}

.unavailable {
    color: red;
}

button {
  background-color: #4CAF50; /* kolor tła */
  border: none;
  color: white; /* kolor tekstu */
  padding: 10px 20px; /* margines wewnętrzny */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px; /* margines zewnętrzny */
  cursor: pointer;
  border-radius: 4px; /* zaokrąglenie rogów */
  transition-duration: 0.4s; /* czas trwania animacji */
}

/* animacja po najechaniu myszką */
button:hover {
  background-color: #3e8e41;
  color: white;
}

/* stylowanie dla przycisków submit */
input[type="submit"] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.4s;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
  color: white;
}


